.pagination-controls {
    padding: 5px;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination-controls > button{
   font-weight: bold;
   padding: 6px;
   font-size: 20px;
   border: none;
   border-radius: 5px;
}

@media (max-width: 640px) {
    .pagination-controls > button{
        font-size: 15px;
     }
}