form.login,
form.register {
    max-width: 400px;
    margin: 0 auto;
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login input,
.register input {
    border: 0;
    display: block;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 25px;
    padding: 7px 7px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    font-size: 20px;
    border-radius: 7px;
    outline: none;

}

form.login button,
form.register button {
    display: block;
    width: 100%;
    padding: 7px;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    background: #f92e2e;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 30px;
}

form.login>h1,
form.register>h1 {
    text-align: center;
    margin: 2rem 0;
}

.password_toggle{
    position: relative;
    width: 100%;
}
.password_toggle input{
    padding:7px 27px;
}
.password_toggle i:nth-child(2){
    position: absolute;
    right: 1px;
    cursor: pointer;
    font-size: 21px;
    top: 10px;
}
.password_toggle i:nth-child(1){
    position: absolute;
    left: 1px;
    cursor: pointer;
    font-size: 21px;
    top: 10px;
}

.have_an_account {
    margin-bottom: 15px;
    font-size: 18px;
}